html{
    scroll-behavior: smooth;
}
.hero{
    margin: 0px auto;
    margin-top: 0px;
    padding: 80px 0px 0px 100px;
    position: relative;
}

.hero-text{
    /*font-family: 'Open Sans Regular', sans-serif;*/
    font-family: 'Bebas Neue', serif;
    font-size: 92px;
    text-transform: uppercase;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    height: 303px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: end;
    opacity: 0;
}
.hero-text p{
    margin-top: 0px;
    margin-bottom: 0px;
  }
.hero-dot-play{
    margin-top: 20px;
    justify-content: space-between;
}
.hero-dots{
    display: flex;
    align-items: center;
    gap: 23px;
    justify-content: left;
    padding: 0px;
}
.hero-dot{
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    cursor: pointer;
    background-color: #FFECB3;
    list-style: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}
.hero-dot.orange{
    background-color: #FFC107;
}
.explore{
    margin: auto;
    position: relative;
    display: flex;
    padding-right: 100px;
}
.explore a{
    margin-top: 15px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    margin: auto;
    justify-content: center;
}
.explore a:hover{
    filter: brightness(70%);
}

.explore img{
    margin-top: 15px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    margin: auto;
    justify-content: center;
}

.animate-text{
    animation: slide 500ms ease-out;
    opacity: 1;
}

@keyframes slide {
    0% {
        transform: translateX(-90px);
        opacity: 0;
    }
    50%{
        opacity: 0.4;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@media screen and (max-width: 1000px) {
    .explore{
        display: none;
    }
    

}
@media screen and (max-width: 600px) {
    .hero{
        padding: 80px 0px 0px 10px;

    }
  .hero-text{
    font-size: 60px;
    justify-content: start;
    height: 203px;
  }
}