div{
   
}
.parent{
    position: fixed;
    top: 0px;
}
.leg{
    margin-top: 68px;
    padding: 10px 30px 0 30px;
    flex:1;
}
.table{
    margin-top: 5%;
}
.credits{
    color:#212121;
    font-size: 9px;
    
}
footer{
    bottom: 0px;
}

@media screen and (max-width: 1000px) {

}
@media screen and (max-width: 600px) {
    .leg{
        margin-top: 20%;
    }
}