div{
   
}
.parent{
    position: fixed;
    top: 0px;
}
.leg{
    margin-top: 10%;
    margin-left: 3%;
    margin-right: 3%;
    min-height: 40vh;
}
footer{
    bottom: 0px;
}

@media screen and (max-width: 1000px) {

}
@media screen and (max-width: 600px) {
    .leg{
        margin-top: 20%;
    }
}