.background-container{
    height: 300px;
    width: 100vw;
    position: absolute;
    z-index: -5;

}

.background{
    height: 610px;
    width: 100%;
    float: left;
    margin: 0 auto;
    padding: none;
    
    object-fit: cover;
    z-index: -5;
    filter: brightness(70%);
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.fade-in {
    animation: fadeIn 400ms ease-in-out;
}

@media screen and (max-width: 1000px) {
    .background{
      height: 500px;
    }
    

}
@media screen and (max-width: 600px) {
    .background{
        height: 387px;
        filter: brightness(65%);
      }
}